// colors
$c-main: #00AEEF;

$trans: 300ms ease-in-out;

$font-head: 'Avenir Next W02', sans-serif;	// available: 400, 500, 600, 700
$font-base: 'A Bee Zee', sans-serif;		// available: 400, 400i

// breakpoints
$break-lg: 1240px;
$break-md: 980px;
$break-sm: 640px;
$break-xs: 480px;
$break-xs2: 320px;
